<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAnSapXep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoAnSapXep.Properties.Settings>
            <setting name="soLuongPhanTuMacDinh" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="khoangCachGiuaCacNode" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="kichCoNode" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="mauNodeHoanTatSapXep" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="mauNenNode" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="mauNodeDangSapXep" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="labelFont" serializeAs="String">
                <value>Times New Roman, 10.8pt, style=Bold</value>
            </setting>
            <setting name="chuFont" serializeAs="String">
                <value>Times New Roman, 10.8pt</value>
            </setting>
        </DoAnSapXep.Properties.Settings>
    </userSettings>
</configuration>